<h2><%= bulletin_name params[:bulletin_id] %></h2>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<table class="table table-bordered" >
  <% @posts.each do |post| %>
  <tr>
    <td class="field-label col-xs-4 active" >
      <label> <%= link_to(image_tag(post.picture_url(:thumb)), post.string ) if post.picture? %> </label>
    </td>

    <td class="col-md-8" >
      <div class = "title"><%= post.title %></div>
      <div class="content" style="height: 130px; overflow: hidden" > <%= post.content %> </div>
    </td>
  </tr>

      <div>
        <%= link_to 'Show', [post.bulletin, post], class:'btn btn-default' %>
        <%= link_to 'Edit', edit_bulletin_post_path(post.bulletin, post), class:'btn btn-default' %>
        <%= link_to 'Destroy', [post.bulletin, post], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>
      </div>

  <% end %>
</table>