<!DOCTYPE html>
<html>
<head>
  <title>UNIST과학연센터</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Fixed navbar -->

    <div id="head" style="  margin-top: 30px;     margin-bottom: 30px; font-size: 20">

      <div class="col-md-4">
          <a href="#" class="navbar-left"><img src="logo.jpg"></a>
        </div>
      <div class="col-md-2"></div>
        <div class="col-md-6">
          <ul class="nav nav-pills">

            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">센터소개<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Drafts</a></li>
                <li><a href="#">Sent Items</a></li>
                <li class="divider"></li>
                <li><a href="#">Trash</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">연구활동<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Drafts</a></li>개
                <li><a href="#">Sent Items</a></li>
                <li class="divider"></li>
                <li><a href="#">Trash</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">게시판<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Inbox</a></li>
                <li><a href="#">Drafts</a></li>
                <li><a href="#">Sent Items</a></li>
                <li class="divider"></li>
                <li><a href="#">Trash</a></li>
              </ul>
            </li>

          </ul>
        </div>


    </div>





    <!--------main-->
    <div class="container">

      <%= render partial: "shared/flash_messages", flash: flash %>

      <%= yield %>

    </div> <!-- /container -->
    <div id="footer">
      <div class="foot">
        <div class="address">
          <address>UNIST-gil 50, Ulsan 689-798, Republic of Korea Tel : 052-217-3608   Fax : 052-217-1379</address>
          Copyright 2014 UNIST . All Rights Reserved

        </div>
        </div>
     <div/>





</body>
</html>
